<div class="container">
    <button class="btn btn-primary float-end my-3" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Task</button>
    <table class="table table-striped table-responsive">
        <th>ID</th>

        <th>Name</th>

        <th>Assigned Date</th>

        <th>Due Date</th>

        <th>Days Left</th>

        <th>Status</th>

        <th>Actions</th>


        <tbody>
            <tr *ngFor="let x of taskData">
                <td>{{x.id}}</td>
                <td>{{x.title}}</td>
                <td>{{x.assignedDate|date}}</td>
                <td>{{x.dueDate|date}}</td>
                <td>{{getDaysLeft(x.assignedDate,x.dueDate)}}</td>
                <td>{{x.status}}</td>

                <td>
                    <!-- <button class="btn btn-outline-danger">Remove</button> -->
                    <button class="btn btn-outline-info ms-2">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Task</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #taskForm="ngForm" (ngSubmit)="taskForm.form.valid && onSubmit()" action="#" >
            <input type="text" placeholder="Title"><br><br>
            Assigned To:
            <select name="" id=""></select>
            Due Date:<input type="datetime-local"><br><br>            

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>